/* *{
    margin: 0px;
    padding: 0px;
}
.one{
    height: 200px;
    width: 800px;
    background-color: rgb(126, 72, 72);
}
.child{
    height: 100px;
    width: 50%;
    background-color: yellow;
} */

/* *{
    margin: 0px;
    padding: 0px;
}

.products{
    width: 100%;
    height: 500px;
    background-color: aquamarine;
}

.prod{
    width: 20%;
    height: 300px;
    background-color: blueviolet;
    display: inline-block;
    margin: 20px;
    box-sizing: border-box;
    font-size: 25px;
    padding: 10px;
} */



*{
    margin: 0px;
    padding: 0px;
}

.products{
    width: 100%;
    height: 100%;
    background-color: rgb(148, 197, 181);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.child{
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.one{
    background-color: rgb(162, 114, 211);
    

   
}
.two{
    background-color: rgb(177, 109, 109);
  
}

.three{
    background-color: rgb(233, 96, 210);
   
}
